body {
  padding-top: 50px;
}

section {
    margin:20px 0 20px 0;
    padding: 30px 0 30px 0;
}
.title {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
.nav-tabs li a{
    color:black;
}

#top {
    padding: 40px 0 40px 0;
    max-width: 100%;
    max-height: 100%;

}
#top img {

    height: 700px;
    width: 100%;
}
